html {
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	font-size: 14px;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #333;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	color: #fff;
	text-decoration: none;
}
.vertScreenWrapper {
	display: none;
	background-color: #000;
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #2b2a4a url(img/phone-tablet_orientation-switch.png) 50% 50% no-repeat;
	background-size: contain;
}
.popup{
	display: none;
	border-radius: 10px;
	background: #2b2a4b;
	box-shadow: 0px -8px 21px 0px rgba(21, 24, 27, 0.25),0px 20px 40px 0px rgba(21, 24, 27, 0.004),inset 0px 2px 4px 0px rgba(255, 255, 255, 0.06);
	width: 690px;
	max-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	color: #fff;
	font-family: 'Proxima Nova Cn Lt', sans-serif;
	padding: 0 20px;
}
.popup .popup_inner{

}
.popup .header{
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup .header h2{
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: -20px;
}
.popup .desc{
	font-size: 26px;
	text-align: center;
	margin-top: 27px;
}
.popup .orange{
	color: #ffc700;
}
.popup .input_wrap{
	text-align: center;
	margin-top: 40px;
}
.popup .input_wrap input{
	background-color: rgb(21, 24, 27);
	box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.07),inset 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
	color: #ffc700;
	font-size: 20px;
	border-radius: 50px;
	padding: 15px 20px;
	border: 0;
	outline: 0;
	width: 330px;
	max-width: 100%;
	font-weight: 600;
}
.popup .pick_dollars{
	text-align: center;
	font-size: 0;
	margin-top: 20px;
}
.popup .pick_dollars ul{
	list-style: none;
	display: inline-block;
}
.popup .pick_dollars li{
	display: inline-block;
	height: 39px;
	line-height: 39px;
	padding: 0 12px;
	border: 1px solid #fff;
	border-right: 0;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	user-select: none;
}
.popup .pick_dollars li:hover{
	/*color: #ffc200;*/
	border-color: #ffc700;
	border-right: 1px solid #ffc700;
}
.popup .pick_dollars li:first-of-type{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.popup .pick_dollars li:last-of-type{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-right: 1px solid #fff;
}
.popup .checkbox_wrap{
	text-align: center;
	color: #9a9a9a;
	margin-top: 25px;
}
.popup .checkbox_width{
	width: 266px;
	display: inline-block;
	text-align: left;
}
.popup .checkbox_wrap label{
	margin-left: 20px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
}
.popup .checkbox_wrap input{
	display: none;
}
.popup .checkbox_wrap input + label:before {
	content: "";
	position: absolute;
	left: -20px;
	bottom: 4px;
	background: transparent url('../../images/Rectangle.png') 0 0 no-repeat;
	height: 13px;
	width: 13px;
}
.popup .checkbox_wrap label:hover:before{
	background: transparent url('../../images/Rectangle_hover.png') 0 0 no-repeat;
}
.popup .checkbox_wrap input[type=checkbox]:checked + label:before {
	background: transparent url('../../images/Rectangle_active.png') 0 0 no-repeat;
}
.popup .total_money{
	text-align: center;
	font-size: 28px;
	margin-top: 32px;
	color: #fff;
}
.popup .total_money .current_money{
	color: rgb(255, 199, 0);
	font-size: 36px;
}
.popup .btn_wrap{
	text-align: center;
}
.popup button{
}

.btn {
	background: #c3df38;
	background: -moz-linear-gradient(top, #c3df38 0%, #3e7c04 100%);
	background: -webkit-linear-gradient(top, #c3df38 0%, #3e7c04 100%);
	background: linear-gradient(to bottom, #c3df38 0%, #3e7c04 100%);
	box-shadow: 0 -8px 30px rgba(164, 221, 48, 0.35), 0 17px 24px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0 -8px 30px rgba(164, 221, 48, 0.35), 0 17px 24px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 0 -8px 30px rgba(164, 221, 48, 0.35), 0 17px 24px rgba(0, 0, 0, 0.33);	cursor: pointer;
	-webkit-appearance: none;
	display: inline-block;
	text-decoration: none !important;
	text-align: center;
	border: 0;
	outline: none;
	transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff !important;
	font-family: 'Proxima Nova Cn Lt';
	font-size: 20px;
	line-height: 16px;
	text-transform: uppercase;
	padding: 14px 30px;
}
.btn:hover {
	background: #3e7c04;
	background: -moz-linear-gradient(top, #3e7c04 0%, #c3df38 100%);
	background: -webkit-linear-gradient(top, #3e7c04 0%, #c3df38 100%);
	background: linear-gradient(to bottom, #3e7c04 0%, #c3df38 100%);
}
.btn:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.popup .close_popup{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background: transparent url('../../images/cross.png') 0 0 no-repeat;
}
.popup_exit, .popup_inactive{
	max-width: 510px;
	padding: 60px 20px 30px;
	text-align: center;
}
.popup_exit p{
	margin: 0 0 60px;
	font-size: 22px;
	line-height: 20px;
}
.popup_inactive p{
	margin: 0 0 30px;
	font-size: 22px;
	line-height: 20px;
}
.popup_exit .collect{
	float: left;
}
.popup_exit .exit{
	float: right;
}
.overlay{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgb(0, 0, 0);
	opacity: 0.702;
	z-index: 99;
}
.popup_exit .btn, .popup_inactive .btn{
	font-size: 20px;
	line-height: 16px;
	padding: 14px 20px;
}
.timer_btn{
	width: 40px;
	text-align: right;
	display: inline-block;
}
@media screen and (max-width: 1020px){
	.add_credits {
		width: 100%;
		box-shadow: none;
		max-width: none;
		left: 50%;
		top: 0;
		transform: translate(-50%, 0);
	}
}
@media screen and (max-width: 520px){
	.popup_exit, .popup_inactive {
		padding: 40px 20px 20px;
		max-width: 300px;
	}
	.popup_exit .btn, .popup_inactive .btn{
		float: none;
		margin-bottom: 20px;
	}
	.popup_exit .btn_wrap, .popup_inactive .btn_wrap{
		margin-bottom: 0;
		margin-top: 30px;
	}
	.popup_exit p, .popup_inactive p{
		margin-bottom: 30px;
	}
}
@media screen and (max-height: 690px){
	.add_credits {
		left: 50%;
		top: 0;
		transform: translate(-50%, 0);
		height: 100%;
	}
	.add_credits .header{
		margin-top: -30px;
	}
	.add_credits .desc, .add_credits .input_wrap, .add_credits .pick_dollars, .add_credits .checkbox_wrap, .add_credits .total_money, .add_credits .btn_wrap{
		margin: 0;
	}
	.add_credits .popup_inner{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}
